---
---
<!doctype html>
<html class="no-js" lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Le formulaire parfait</title>
  <meta name="description" content="Le formulaire parfait">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="./assets/main.css">
  <link rel="stylesheet" href="./assets/balloon.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
  <section class="container">
    <h1>Le formulaire parfait</h1>
    <h2>Types de formulaires</h2>
    <ol>
      {% for form in site.forms %}
      <li><a href="#{{form.name}}">{{ form.title }}</a></li>
      {% endfor %}
    </ol>
  </section>
  {% for form in site.forms %}
  <section {% if form.type %} class="{{ form.type }}" {% endif %}>
    <h2 id="{{ form.name }}">{{ form.title }}</h2>
    {{ form }}
  </section>
  {% endfor %}

  <div class="container">
    {% for page in site.html_pages %}
      {% if page.path contains 'ressources' %}
      {{ page.content | markdownify }}
      {% endif %}
    {% endfor %}
  </div>
  <script src="/assets/hyperform.min.js"></script>
  <script>
    hyperform(window);
  </script>
  <!-- <script>
      // Ne prend en compte que les input (pas les textarea)
      localStorage._formData_ = JSON.stringify(Array.from(document.forms[0].querySelectorAll('input')).map((el) => el.value));

      // Restore data:
      _formData_ = JSON.parse(localStorage._formData_) || [];
      Array.from(document.forms[0].querySelectorAll('input')).forEach((input, id) => {
        input.value = _formData_[id];
        var event = document.createEvent("HTMLEvents");
        event.initEvent("input", true, true);
        input.dispatchEvent(event);
      });
  </script> -->
</body>

</html>
