///
/// Form
///

@import "inputs/text";
@import "inputs/buttons-action";
@import "inputs/button";

@import "inputs/radio";
@import "inputs/checkbox";
@import "inputs/select";

// Alert & message

.symbol-required,
.error {
  color: $red;
}

.form-note,
.form-info {
  line-height: $ms2;
}

.form-note {
  font-size: $smaller;
  color: $color-grey-dark;
}

.form-more,
.form-description {
  display: block;
  margin: 0 0 $base-line/2;
  font-size: $smaller;
  color: #666;
}

.form-more {
  font-size: $smaller;
}

// Alert confirmation message

.hf-warning {
  margin: -0.1em 0 -#{$base-line*2+0.1em};
  padding: 0.35em $base-line/3 0.15em;
  font-size: $smaller;
  background: #fff;
  border: 1px solid;

  @media #{$medium-up} {
    position: absolute;
    margin: -2.4em 0 0;
    width: 13vw;
    left: 99%;
    color: #fff;
    background: $color-grey-dark;

    &:before {
      position: absolute;
      left: -10px;
      content: '';
      width: 10px;
      height: 10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $color-grey-dark;
    }
  }

  border-radius: 4px;

  &+.form-description {
    visibility: hidden;

    @media #{$medium-up} {
      visibility: visible;
    }
  }
}

// Form

form {
  margin: 0 auto $base-line*2;
  max-width: 60rem;

  p:not([class^="form"]),fieldset {
    max-width: 45em;
  }
}

form:focus-within {
  >fieldset {
    box-shadow: inset 0px 38px 158px 0px rgba($color-secondary-dark, 0.1);
    background: $color-secondary-light;
  }

  >fieldset>legend {
    color: #fff;
    background: $color-secondary-dark;
  }
}

// Fieldset

fieldset {
  position: relative;
  margin: 0 auto $base-line;
  padding: $base-line 26px;
  font-weight: 100;
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  background: #f1f1f1;
  background: $color-grey-light;
  border-radius: 0 0 4px 4px;

  fieldset {
    margin: 0 0 $base-line;
    padding: 0;
    border: none;
    text-align: left;
    background: none;
  }
}

// Legend

legend {
  margin: 0 -27px $base-line -27px;
  padding: $base-line 27px;
  width: calc(100% + 54px);
  font-size: $bigger;
  font-size: bold;
  text-transform: uppercase;
  border-top: 8px solid $color-secondary-dark;
  border-bottom: 3px solid $color-grey-dark;
  background: #888;
  background: $color-grey-light;
  border-radius: 4px 4px 0 0;

  &+* {
    margin-top: 0;
  }

  fieldset fieldset & {
    margin-left: -26px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: $bigger;
    color: #000;
    border: none;
    background: none;
  }
}

// Form subscription

.form-subscription {
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;

  fieldset {
    margin-bottom: $base-line;
    legend {
      text-align: center;
    }
  }
}

// Input

p {
  text-align: left;

  label,
  select,
  textarea,
  input:not([type="submit"]) {
    display: block;
    width: 100%;
    height: auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    width: auto;
    vertical-align: baseline;
  }

  form>fieldset>&:last-of-type {
    margin-bottom: $base-line*2;
  }
}

.form-action {
  display: flex;
  flex-wrap: wrap;
  label,span {
    flex: 0 1 100%;
  }
  input {
    flex: 5;
  }
  button,.button {
    flex: 1;
  }
}

.form-int_card {
  margin: auto;
  max-width: 27.5rem;
}

.form-input__small.form-input__small {
  display: inline-block;
  width: auto;
  max-width: 80px;
  vertical-align: baseline;
  text-align: center;
}

.form-input__medium.form-input__medium {
  display: inline-block;
  max-width: 160px;
}

.form-step {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 3em 0 0;
  > * {
    flex: 0 1 20%;
  }
  [name=next] {
    margin: 0 0 0 auto;
  }
}

.form-submit {
  display: flex;
  justify-content: center;
  margin: $base-line*3 auto $base-line*2;
  text-align: center;
}

input[type=text],
input[type=url],
input[type=date],
input[type=email],
input[type=password],
input[type=number] {
  @include sassy-text;
}

input[type=text],
input[type=url],
input[type=date],
input[type=email],
input[type=password] {
  @include sassy-text-control;
}

input[type=number] {
  @include sassy-number-control;
}

textarea {
  @include sassy-textarea;
}

input[type=search] {
  @include sassy-search;
}

input[type=checkbox] {
  @include sassy-checkbox;
}

input[type=radio] {
  @include sassy-radio;
}

.form-select-wrap {
  @include sassy-select;
}

select[multiple] {
  @include sassy-select-multiple;
}

[role=button],
[type=submit],
[type=button],
button,
.button {
  @include sassy-button;

  &+& {
    margin-left: $base-line/2;
  }
}

.button.button--cancel {
  font-size: 90%;
  color: currentColor;
  border: none;
  background: transparent;

  &:hover {
    color: $color-grey-dark;
  }
}

.ap-input-icon {
  border: none;
}
